
$base_size: 14px;

@function getEm($size_in_px){
    @return $size_in_px/14 + 0em;
}

a {
    text-decoration: none;
}

svg  {
    fill: #606060;
}
 

.side-menu {
    font-size: $base_size + 0;
    width: getEm(240);
    display: flex;
    flex-direction: column;
    background: #fff;
    
    hr {
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        border: 0;
    }

    a {
        display: flex;
        align-items: center;
        height: getEm(40);
        width: 100%;
        font-size: 1em;
        line-height: 1.14em;
        color: black;
        padding-left: 1.86em;
        box-sizing: border-box;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            transition: background 0,5s;
        }
    }

    .icon{
        display: flex;
        justify-content: center;
        width: 1.79em;
        margin-right: 1em;
    }

    a:active svg, 
    .current svg {
        fill: red;
    }

    a.current {
        background: rgba(0, 0, 0, 0.1);
    }

    &--closed {
        width: 72px;
    
        a {
            flex-direction: column;
            padding: 0;
            height: 72px;
            justify-content: center;
            align-items: center;
        }

        :active {
            color: red;
        }

        .text {
            font-size: 9px;
        }

        .icon {
            margin-right: 0;
            width: initial;
        }
    }
}


@media only screen and (max-width: 720px){
    .side-menu {
        font-size: 12px;
    }
} 

@media only screen and (max-width: 450px) {
    .side-menu--closed {
      width: 55px;
      a {
        height: 55px;
      }
      .text {
        display: none;
      }
    }
  }